@keyframes change-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes change-scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}

.like-icon {
    transform-origin: center;
    cursor: pointer;
}

.like-icon .sparks {
    opacity: 0;
}

.like-icon .contour {
    fill: var(--animation-contour-color);
    transition: fill 0.1s linear;
}

.like-icon .core,
.like-icon:active .core {
  transition: fill 0.3 linear;
}

.like-icon .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}

.like-icon:hover .core {
    fill: var(--animation-contour-color);
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
    fill: var(--animation-contour-color);
    transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
    fill: #ff0000;
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
    fill: #ff0000;
    transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
    fill: #ff0000;
    transition: fill 0.3s 0.06s linear;
}
.like-icon.is-liked .main-body {
    fill: #ff0000;
    transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
    fill: #ff0000;
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    transition-delay: 0.05s;
}

.like-icon.is-liked {
    animation: change-scale 0.3s 0.1s ease-in 1 alternate;
}
