.page {
  margin: auto;
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  max-inline-size: 700px;
  background-color: var(--bg-color);
  background-image: var(--body-pattern);
  background-size: cover;
  background-repeat: no-repeat;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid currentColor;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  padding-block-start: 120px;
  padding-block-end: 120px;
  margin-block-end: 100px;
}

.header__logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-block-end: 20px;
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  margin-block-end: 50px;
}
.card__label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: #000;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: 0 0 1px var(--text-color);
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  mix-blend-mode: hard-light;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__title {
  background-color: var(--bg-color, #fff);
  outline: 2px solid var(--main-color, #000);
  text-align: left;
  width: 100%;
  padding: 5px 0px 5px 10px;
  font-family: Inter-Variable, sans-serif;
  font-variation-settings: "wght" 700;
  font-size: 18px;
  line-height: 21.78px;
}


.card__description {
  padding: 27px 25px 25px 25px;
}

.card__description p {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--main-font, sans-serif);
  line-height: 21px;
  font-size: 18px;
  font-variation-settings: "wght" 400;
  display: block;
  text-align: start;
}



.card__image-container {
  position: relative;
  overflow: hidden;
}
.filter_grayscale {
  filter: grayscale(80%);
}

.filter_brightness{
  filter: brightness(200%);
}

.filter_hue {
  filter: hue-rotate(26deg);
}

.filter_invert {
  filter: invert(0.8);
}


.filter_multiple {
  filter: hue-rotate(090deg) blur(3.2rem) grayscale(10%) saturate(200%);
}

.filter_sepia {
  filter: sepia(90%);
}

.filter_blur {
  filter: blur(3.2rem);
}
.card__description p:not(:last-child) {
  margin-bottom: 27px;
}

.card__controls {
  display: flex;
  justify-content: end;
  gap: 4px;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: none;
  padding: 2px;
  outline: 2px solid transparent;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  height: 32px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.card__like-button {
  min-inline-size: 130px;
}

@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .article__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-stroke: 1px var(--bg-color, #fff);
  }
}

.like-icon {
  background-color: transparent;
  height: 38px;
  margin-top: 4px;
}

.button {
  position: relative;
  padding: 11px 17px;
  overflow: hidden;
  border: 2px solid var(--main-color);
  background: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--main-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition: translate 0.5s ease-in-out;
  translate: -100%;
  z-index: 1;
}


.button:hover::before {
  translate: 0%;
}

.button:focus {
  outline: none;
}
.button:hover .button__text, .button:hover .button__text_footer {
  color: var(--bg-color);
}
.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

.button__text, .button__text_footer {
  position: relative;
  color: var(--main-color);
  z-index: 2;
}




.save-button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 15px 20px;
  max-inline-size: 83vw;
}

.floppy {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  inline-size: var(--floppy-size, 28px);
  block-size: var(--floppy-size, 28px);
  mix-blend-mode: difference;
}


.footer_dialog__button {
    grid-column: 1 / -1;
    text-transform: uppercase;
    inline-size: 100%;
}

.footer_dialog__title {
  font-size: 0.875rem;
  line-height: 1.5;
}

.footer_dialog[open] {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  column-gap: clamp(12px, 2vw, 20px);
  padding: 30px;
  color: var(--main-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: var(--bg-color);
  max-inline-size: 357px;
}

.footer_dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.footer_dialog__title {
    font-size: 0.875rem;
    line-height: 1.5;
}

.floppy--footer_dialog {
  --floppy-size: 38px;
}


@media (width >= 700px) {

  .header {
    padding-block-start: 128px;
    padding-block-end: 128px;
}
  .save-button {
    flex-direction: row;
  }
}
